<div class="row">
    <div class="col-lg-12">
        <div class="tabs-container">
            <div class="ibox-title">
                <h5 style="color:#FFFFFF"> Edición de Preguntas abiertas </h5>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li><a class="nav-link active" data-toggle="tab" href="#tab-1">Datos de la pregunta</a></li>

            </ul>
            <div class="tab-content">
                <div role="tabpanel" id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <div class="panel panel-body">
                            <br>
                            <div class="form-group row">
                                <label for="formGroupExampleInput" class="col-sm-4 col-form-label"><b>Seleccione la pregunta:</b> </label>
                                <div class="col-sm-8">
                                    <select class="form-control"  name ="combo_condicion" id="combo_condicion" >
                                        <option value=""></option>
                                        <option value="Ins-001">¿Informó a las autoridades un posible riesgo de fuga?</option>
                                        <option value="Man-002">Detalle el estado de la válvula a la cual se le realizó mantenimiento</option>
                                        <option value="Rev-003">Pregunta Abierta 3</option>
                                        <option value="Gen-004">Pregunta Abierta 4</option>
                                    </select>
                                </div>
                                <br>
                                <label for="formGroupExampleInput" class="col-sm-4 col-form-label"><b>Digite la longitud máxima de la respuesta:</b> </label>
                                <div class="col-sm-8">
                                    <input type="number" id="quantity" name="quantity" min="1" max="100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>              
            </div> 
            <button type="button" style="background-color: #D14844" class="btn btn-primary" id="btnUserReg" onclick="editarPreguntaAMensaje()">Editar Pregunta Abierta</button>

        </div>
    </div>

</div>

<script type="text/javascript" src="../js/FO_IN_06/FO_IN_06.js"></script>