
<div class="wrapper wrapper-content animated fadeInRight" id="tablaPublicaciones">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title row">
                    <h5 class="text-white col">Revisión de órdenes asignadas</h5>
                </div>
                <div class="ibox-content">
                    <div class='table mt-4 mb-4'><br>
                        <table class='table table-striped mt-4 mb-4 centradito' id='listadoTablaFO_IN_06' style='width: 100%'>
                            <thead>
                                <tr style='text-align: center; background: #aa1916; color:white;'>
                                    <th>Número de Orden</th>
                                    <th>Labor a desarrollar</th>
                                    <th>Dirección de labor a realizar</th>
                                    <th>Nombre del técnico asignado</th>
                                <tr>
                                    <td>Ins-001</td>
                                    <td>Instalación de Tanque de Gas</td>
                                    <td>C.C Ventura Plaza local 221, Cartagena</td>
                                    <td>Caesar Zepppeli</td>
                                </tr>
                                <tr>
                                    <td>Man-002</td>
                                    <td>Mantenimiento de tubería</td>
                                    <td>Av 1 #15-09, Caobos, Cartagena</td>
                                    <td>Jonathan Joestar</td>
                                </tr>
                                <tr>
                                    <td>Rev-003</td>
                                    <td>Revisión de Fuga</td>
                                    <td> Calle 7 # 7-77, Santa Marta</td>
                                    <td>Monkey D. Luffy</td>
                                </tr>
                                <tr>
                                    <td>Gen-004</td>
                                    <td>Reemplazo de válvulas</td>
                                    <td>Holiday Inn Bocagrande, Cartagena</td>
                                    <td>Giorno Giovanna</td>
                                </tr>
                                <tr>
                                    <td>Ins-002</td>
                                    <td>Instalacion de tubería</td>
                                    <td> Estadio Metropolitano, Barranquilla</td>
                                    <td>Roronoa Zoro</td>
                                </tr>
                                <tr>
                                    <td>Ins-003</td>
                                    <td>Instalación válvulas de medición</td>
                                    <td>Calle 87 Carrera 17, Cabo de la vela</td>
                                    <td>Satoru Gojou</td>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Fin TTabla de Usuarios -->

<script type="text/javascript" src="../js/FO_IN_06/FO_IN_06.js"></script>
