
<div class="wrapper wrapper-content animated fadeInRight" id="tablaPublicaciones">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title row">
                    <h5 class="text-white col">Listado de técnicos</h5>
                </div>
                <div class="ibox-content">
                    <div class='table mt-4 mb-4'><br>
                        <table class='table table-striped mt-4 mb-4 centradito' id='listadoTablaFO_IN_06' style='width: 100%'>
                            <thead>
                                <tr style='text-align: center; background: #aa1916; color:white;'>
                                    <th>Labor</th>
                                    <th>Requerimiento técnico</th>
                                <tr>
                                    <td>Instalación de tanque</td>
                                    <td>Técnico electricista</td>
                                </tr>
                                <tr>
                                    <td>Revisión de fuga</td>
                                    <td>Técnico en gases</td>
                                </tr>
                                <tr>
                                    <td>Mantenimiento de válvula</td>
                                    <td>Especialista en válvulas</td>
                                </tr>
                                <tr>
                                    <td>Instalación de cableado</td>
                                    <td>Técnico electricista</td>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin TTabla de Usuarios -->

<script type="text/javascript" src="../js/FO_IN_06/FO_IN_06.js"></script>
