
<div class="wrapper wrapper-content animated fadeInRight" id="tablaPublicaciones">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title row">
                    <h5 class="text-white col">Revisión de Preguntas Cerradas</h5>
                </div>
                <div class="ibox-content">
                    <div class='table mt-4 mb-4'><br>
                        <table class='table table-striped mt-4 mb-4 centradito' id='listadoTablaFO_IN_06' style='width: 100%'>
                            <thead>
                                <tr style='text-align: center; background: #aa1916; color:white;'>
                                    <th>Pregunta</th>
                                    <th>Número de opciones de respuesta disponibles</th>
                                <tr>
                                    <td>Seleccione los implementos de seguridad usados</td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>Indique el estado de la tubería revisada</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Indique el estado de satisfacción del cliente con el servicio</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>Pregunta cerrada 4</td>
                                    <td>10</td>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin TTabla de Usuarios -->

<script type="text/javascript" src="../js/FO_IN_06/FO_IN_06.js"></script>
