
<div class="wrapper wrapper-content animated fadeInRight" id="tablaPublicaciones">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title row">
                    <h5 class="text-white col">Listado de técnicos</h5>
                </div>
                <div class="ibox-content">
                    <div class='table mt-4 mb-4'><br>
                        <table class='table table-striped mt-4 mb-4 centradito' id='listadoTablaFO_IN_06' style='width: 100%'>
                            <thead>
                                <tr style='text-align: center; background: #aa1916; color:white;'>
                                    <th>Nombre</th>
                                    <th>Identificación</th>
                                    <th>Ordenes Realizadas</th>
                                    <th>Listas Previas Llenadas</th>
                                    <th>>Listas Posteriores Llenadas</th>
                                <tr>
                                    <td>Caesar Zeppeli</td>
                                    <td>1.090.023</td>
                                    <td>5</td>
                                    <td>5</td>
                                    <td>5</td>

                                </tr>
                                <tr>
                                    <td>Joseph Joestar</td>
                                    <td>13.579.612</td>
                                    <td>15</td>
                                    <td>12 </td>
                                    <td>7</td>
                                </tr>
                                <tr>
                                    <td>Giorno Giovanna</td>
                                    <td>C.E 9.019.479</td>
                                    <td>9</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin TTabla de Usuarios -->

<script type="text/javascript" src="../js/FO_IN_06/FO_IN_06.js"></script>
