
<div class="wrapper wrapper-content animated fadeInRight" id="tablaPublicaciones">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title row">
                    <h5 class="text-white col">Revisión de órdenes asignadas</h5>
                </div>
                <div class="ibox-content">
                    <div class='table mt-4 mb-4'><br>
                        <table class='table table-striped mt-4 mb-4 centradito' id='listadoTablaFO_IN_06' style='width: 100%'>
                            <thead>
                                <tr style='text-align: center; background: #aa1916; color:white;'>
                                    <th>Tema</th>
                                    <th>Número de preguntas abiertas</th>
                                    <th>Número de preguntas cerradas</th>
                                    <th>Obligatorio</th>
                                <tr>
                                    <td>Salud del técnico</td>
                                    <td>3</td>
                                    <td>2</td>
                                    <td>Si</td>
                                </tr>
                                <tr>
                                    <td>Implementos de seguridad</td>
                                    <td>5</td>
                                    <td>0</td>
                                    <td>Si</td>
                                </tr>
                                <tr>
                                    <td>Implementos a usar</td>
                                    <td>0</td>
                                    <td>2</td>
                                    <td>No</td>
                                </tr>
                                <tr>
                                    <td>Implementos Usados</td>
                                    <td>2</td>
                                    <td>5</td>
                                    <td>No</td>
                                </tr>
                                <tr>
                                    <td>Estado Implementos de Seguridad</td>
                                    <td>4</td>
                                    <td>2</td>
                                    <td>Si</td>
                                </tr>
                                <tr>
                                    <td>Hallazgos</td>
                                    <td>2</td>
                                    <td>0</td>
                                    <td>No</td>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin TTabla de Usuarios -->

<script type="text/javascript" src="../js/FO_IN_06/FO_IN_06.js"></script>
