
<div class="wrapper wrapper-content animated fadeInRight" id="tablaPublicaciones">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title row">
                    <h5 class="text-white col">Revisión de órdenes asignadas</h5>
                </div>
                <div class="ibox-content">
                    <div class='table mt-4 mb-4'><br>
                        <table class='table table-striped mt-4 mb-4 centradito' id='listadoTablaFO_IN_06' style='width: 100%'>
                            <thead>
                                <tr style='text-align: center; background: #aa1916; color:white;'>
                                    <th>Lista de Verificación</th>
                                    <th>Temas Asignados</th>
                                    <th>Labores Asignadas</th>
                                <tr>
                                    <td>Instalación de tanques - Previo</td>
                                    <td>Seguridad en alturas, Salud del técnico, Implementos a usar</td>
                                    <td>Instalación tanque</td>
                                </tr>
                                <tr>
                                    <td>Mantenimiento de tuberías - Previo</td>
                                    <td>Seguridad en alturas, Salud del técnico, Implementos a usar</td>
                                    <td>Mantenimiento Tubería, Instalación tubería</td>
                                </tr>
                                <tr>
                                    <td>Revisión de fuga - Posterior</td>
                                    <td>Notificación Autoridades, Salud del técnico, Implementos usados, Hallazgos</td>
                                    <td>Revisión Fuga</td>
                                </tr>
                                <tr>
                                    <td>Mantenimiento de tuberías - Posterior</td>
                                    <td>Seguridad en alturas, Salud del técnico, Implementos usados, Hallazgos</td>
                                    <td>Mantenimiento Tubería, Instalación tubería</td>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin TTabla de Usuarios -->

<script type="text/javascript" src="../js/FO_IN_06/FO_IN_06.js"></script>
