
<div class="wrapper wrapper-content animated fadeInRight" id="tablaPublicaciones">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title row">
                    <h5 class="text-white col">Revisión de Preguntas Abiertas</h5>
                </div>
                <div class="ibox-content">
                    <div class='table mt-4 mb-4'><br>
                        <table class='table table-striped mt-4 mb-4 centradito' id='listadoTablaFO_IN_06' style='width: 100%'>
                            <thead>
                                <tr style='text-align: center; background: #aa1916; color:white;'>
                                    <th>Pregunta</th>
                                    <th>Longitud Máxima</th>
                                <tr>
                                    <td>¿Informó a las autoridades un posible riesgo de fuga?</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Detalle el estado de la válvula a la cual se le realizó mantenimiento</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <td>Pregunta abierta 3</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <td>Pregunta abierta 4</td>
                                    <td>50</td>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin TTabla de Usuarios -->

<script type="text/javascript" src="../js/FO_IN_06/FO_IN_06.js"></script>
